<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Lucida Grande'" title="B L O G">
    <button class="btn-primary" (click)="ulogujSe()">Login</button>
    <button class="btn-primary" (click)="registrujSe()"> Register</button>
  </igx-navbar>

  <div>
    <button class="btn btn-outline-primary" style="width: 40%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px;" (click)="showBlogs()">Show blogs</button>
  </div>


</div>
