<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Lucida Grande'" title="B L O G ">
    <button class="btn-primary" (click)="ulogujSe()">Login</button>
    <button class="btn-primary" (click)="registrujSe()"> Register</button>
  </igx-navbar>
</div>

<br>
<div style="text-align: center">
  <p  style="color: black;font-size:60px; font-family: 'Lucida Grande'; margin-bottom: 10%">Add comment</p>
</div>

<div style="margin-bottom:50px;margin-right: 30%;margin-left: 30%">

  <form [formGroup]="form">
    <div class="form-group">

      <label style="margin-top: 20px">Choose name [it will be visible to other users]:</label>
      <input name="name" class="form-control margin" [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched" style="color: red">
        Name cannot be empty!
      </small>

      <label style="margin-top: 20px">Comment:</label>
      <textarea name="comment" class="form-control" [formControl]="comment"></textarea>
      <small class="form-text error" *ngIf="comment.errors?.required && comment.touched" style="color: red">
        Comment cannot be empty!
      </small>


      <button class="btn btn-primary" style="width: 100%;margin-top: 30px" (click)="confirmClick()"
              [disabled]="!form.valid">
        ADD
      </button>
      <button class="btn btn-primary" style="width: 100% ; margin-top: 20px" (click)="exit()">Close</button>
    </div>
  </form>
</div>
