<div style="margin-bottom:50px;margin-right: 30%;margin-left: 30%">

  <form [formGroup]="form">
    <div class="form-group">
      <h1>Set password</h1>

      <label style="margin-top: 20px">Password:</label>
      <input name="pass" type = "password" class="form-control margin" [formControl]="pass">
      <small class="form-text error" *ngIf="pass.errors?.required && pass.touched" style="color: red">
        Password cannot be empty!
      </small>

      <label style="margin-top: 20px">Confirm password:</label>
      <input name="pass2" type = "password" class="form-control margin" [formControl]="pass2">
      <small class="form-text error" *ngIf="pass2.errors?.required && pass2.touched" style="color: red">
        Confirmed password cannot be empty!
      </small>


      <button class="btn btn-primary" style="width: 100%;margin-top: 30px" (click)="confirmClick()"
              [disabled]="!form.valid">
        Submit
      </button>

    </div>
  </form>
</div>

