<div *ngIf="administrator!=null">
  <div >
    <h5 class="mb-3" style="font-weight: bolder; font-size: 40px; color: #1a8cff;">{{administrator.firstName}} {{administrator.lastName}}</h5>
  </div>
  <div class="row">
    <br>
    <div class="col-md-12">

      <table class="table table-sm table-hover table-striped">
        <tbody>
        <tr>
          <td>
            Role:
          </td>
        </tr>
        <tr>
          <td>
            <strong>{{administrator.role}}</strong>
          </td>
        </tr>
        <tr>
          <td>
            Email:
          </td>
        </tr>
        <tr>
          <td>
            <strong>{{administrator.email}}</strong>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
