<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Lucida Grande'" title="B L O G ">
    <button class="btn-primary" (click) = "logout()">Logout</button>
  </igx-navbar>
</div>

<br>
<div style="text-align: center">
  <p  style="color: black;font-size:60px; font-family: 'Lucida Grande'; margin-bottom: 10%">{{naslovStranice}}</p>
</div>

<div style="margin-bottom:50px;margin-right: 30%;margin-left: 30%">

  <form [formGroup]="form">
    <div class="form-group">

      <label style="margin-top: 20px">First name:</label>
      <input name="firstName" class="form-control margin" [formControl]="firstName">
      <small class="form-text error" *ngIf="firstName.errors?.required && firstName.touched" style="color: red">
        First name cannot be empty!
      </small>

      <label style="margin-top: 20px">Last name:</label>
      <input name="lastName" class="form-control margin" [formControl]="lastName">
      <small class="form-text error" *ngIf="lastName.errors?.required && lastName.touched" style="color: red">
        Last name cannot be empty!
      </small>

      <label style="margin-top: 20px">Email:</label>
      <input name="email" class="form-control margin" [formControl]="email">
      <small class="form-text error" *ngIf="email.errors?.required && email.touched" style="color: red">
        Email cannot be empty!
      </small>

      <label style="margin-top: 20px">Password:</label>
      <input name="password" type = "password" class="form-control margin" [formControl]="password">
      <small class="form-text error" *ngIf="password.errors?.required && password.touched" style="color: red">
        Password cannot be empty!
      </small>

      <button class="btn btn-primary" style="width: 100%;margin-top: 30px" (click)="confirmClick()"
              [disabled]="!form.valid">
        {{method_name}}
      </button>
      <button class="btn btn-primary" style="width: 100% ; margin-top: 20px" (click)="exit()">Close</button>
    </div>
  </form>
</div>
